[buildout]
extends = http://static.voteit.se/defaults-production-arche2.cfg

eggs +=
    voteit.debate
    voteit.irl
    voteit.schulze
    voteit.printable
    voteit.combined_simple
    pyramid_retry

eggs -=

[crontab-pack]
# m h   dom mon dow | pack wed night
times = 00 03   * *  3
